<div class="wrapper">
  <div class="header-container">
    <div class="logo-wrapper">
      <img class="logo" src="./assets/img/logo.svg" alt="logo-tryzub" />
    </div>
    <button class="presentation-btn">
      <img class="btn-icon" src="./assets/img/icons/Vector.svg" alt="download-presentation" />Презентація
    </button>
  </div>
  <div class="flex-container-center">
    <h1 class="main-header">Реформування системи містобудування</h1>
    <button class="video-btn button-container" (click)="scrollToVideo()">
      <img class="btn-icon" src="./assets/img/icons/Polygon.svg" alt="watch-video" />
      Відеотрансляція
    </button>
  </div>
</div>
