<footer class="footer">
  <div class="container">
    <div class="flex-container">
      <div class="flex-item logo-tryzub"><img src="./assets/img/icons/logo-white.svg" alt="logo-tryzub" /></div>
      <div class="flex-item text-align">
        <ul class="icons-container">
          <li>
            <a href="https://www.facebook.com/mintsyfra/" target="_blank">
              <img class="icon" src="./assets/img/icons/footer-facebook.svg" alt="facebook-icon"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/mintsyfra" target="_blank">
              <img class="icon" src="./assets/img/icons/footer-twitter.svg" alt="twitter-icon"
            /></a>
          </li>
          <li>
            <a href="https://t.me/mintsyfra" target="_blank">
              <img class="icon" src="./assets/img/icons/footer-telegram.svg" alt="telegram-icon"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/mintsyfra.official" target="_blank">
              <img class="icon" src="./assets/img/icons/footer-instagram.svg" alt="instagram-icon"
            /></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCJpDqJoUTcjMJgBY-DRtfcg" target="_blank"
              ><img class="icon" src="./assets/img/icons/footer-youtube.svg" alt="youtube-icon"
            /></a>
          </li>
          <li>
            <a href="https://t.me/mincifra_bot" target="_blank">
              <img class="icon" src="./assets/img/icons/footer-message.svg" alt="bot-messageicon"
            /></a>
          </li>
        </ul>
        <p class="mailto"><a href="mailto:pr@thedigital.gov.ua" target="_blank">pr@thedigital.gov.ua</a></p>
        <p class="mailto"><a href="mailto: hello@thedigital.gov.ua" target="_blank"> hello@thedigital.gov.ua</a></p>
      </div>
    </div>
    <div class="copyright-wrapper">
      <div class="copyright">© 2020 Весь контент доступний за ліцензією</div>
      <div class="copyright">Creative Commons Attribution 4.0 International license, якщо не зазначено інше</div>
    </div>
  </div>
</footer>
