@import 'bootstrap/scss/mixins';
@import 'src/assets/scss/theme-angular-starter1/bootstrap/variables';

.footer {
  background-color: black;
  color: white;
  padding: 60px 0 30px;
}

.flex-container {
  display: flex;

  @include media-breakpoint-down(xs) {
    flex-flow: column-reverse;
  }

  .flex-item {
    width: 50%;

    @include media-breakpoint-down(xs) {
      width: 100%;
    }
  }
}

.logo-tryzub {
  @include media-breakpoint-down(xs) {
    margin-top: 50px;
  }
}

.text-align {
  text-align: right;

  @include media-breakpoint-down(xs) {
    text-align: left;
  }
}

.copyright-wrapper {
  margin-top: 30px;

  .copyright {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    opacity: 0.5;
  }
}

.icons-container {
  display: flex;
  justify-content: flex-end;
  list-style: none;

  @include media-breakpoint-down(xs) {
    width: 100%;
    justify-content: flex-start;
  }

  li:not(:last-of-type) {
    margin-right: 10px;
  }
}
.icon {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

  @include media-breakpoint-down(xs) {
    width: 36px;
    height: 36px;
  }

  &:hover {
    transform: scale(1.2);
    background-color: #011873;
    border-radius: 10px;
  }
}

.mailto {
  transition: transform 0.3s ease-in-out;

  @include media-breakpoint-down(xs) {
    &:not(:last-of-type) {
      margin-top: 50px;
    }
  }

  &:not(:last-of-type) {
    margin-top: 20px;

    @include media-breakpoint-down(xs) {
      margin: 50px 0 25px;
    }
  }

  &:hover {
    transform: scale(1.07);
    text-decoration: none;
  }
}
