<app-header></app-header>
<main>
  <app-home-hero data-aos="fade-up-right" data-aos-duration="2000"></app-home-hero>
  <app-home-projects data-aos="fade-up-right" data-aos-duration="2000"></app-home-projects>
  <app-live-video-stream-component id="videoPlayer" data-aos="fade-up-right" data-aos-duration="2000"></app-live-video-stream-component>
  <app-anti-corruption-contacts data-aos="fade-up-right" data-aos-duration="2000"></app-anti-corruption-contacts>
  <app-week-news data-aos="fade-up-right" data-aos-duration="2000"></app-week-news>
</main>
<app-footer data-aos="fade-up-right" data-aos-duration="2000"></app-footer>
