<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <input id="email" formControlName="email" class="email-input" type="email" placeholder="Ваш email" />
  <div class="error-text" *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched">
    <div *ngIf="emailForm.get('email')?.errors?.['required']">Поле є обов'язковим!</div>
    <div *ngIf="emailForm.get('email')?.errors?.['email']">Некоректний email!</div>
    <div *ngIf="emailForm.get('email')?.errors?.['emailAlreadyExists']">Ви вже підписані!</div>
  </div>
  <button type="submit" [disabled]="!emailForm.valid || isSendingRequest" class="btn-black btn btn-subscribe">Підписатись</button>
</form>
<div *ngIf="isSendingRequest" class="d-flex justify-content-center">
  <div class="spinner-border text-success" role="status">
    <span class="sr-only">..</span>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="isFailed">
  <i class="fas fa-times cross-icon"></i>
</div>
<div class="server-error-text d-flex justify-content-center" *ngIf="isFailed">Помилка сервера, спробуйте пізніше!</div>
<div class="d-flex justify-content-center" *ngIf="isSuccess">
  <i class="fa fa-check check-icon"></i>
</div>
<p class="agreement-text">Даю згоду на обробку та використання персональних даних</p>

<ng-template #content let-modal class="modal-container">
  <div class="modal-header">
    <h1 class="modal-title">Дякуємо</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <img src="./assets/img/icons/close-icon.svg" alt="close" />
    </button>
  </div>
  <div class="sub-content">
    <div class="sub-confirm">
      <p>Ми відправили лист на вашу пошту.</p>
      <p>Будь ласка, підтвердіть підписку.</p>
    </div>
    <div class="actions">
      <button type="button" class="btn-black btn ok-btn" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
</ng-template>
