<div class="container">
  <div class="flex-container">
    <div class="flex-item flex-row flex-header">
      <img class="img-wrapper" src="./assets/img/fist.svg" />
      <h2>Зіткнулися з корупцією?</h2>
    </div>
    <div class="flex-item">
      <div class="contact-flex-container">
        <p class="contacts-text">Пишіть нам</p>
        <p><a class="link-text" href="mailto:hello@thedigital.gov.ua">hello@thedigital.gov.ua</a></p>
      </div>
    </div>
  </div>
  <hr />
  <div class="flex-container">
    <div class="flex-item flex-row flex-header">
      <img class="img-wrapper" src="./assets/img/cloud-messadge.svg" />
      <h2>Напишіть у чат-бот</h2>
    </div>
    <div class="flex-item">
      <div class="contact-flex-container">
        <p class="contacts-text">Оберіть меседжер</p>
        <p>
          <a href="https://www.viber.com/diia_help_bot"><img class="icon" src="./assets/img/icons/viber.svg" /></a>
          <a href="https://t.me/diia_gova"><img class="icon" src="./assets/img/icons/telegram.svg" /></a>
          <a href="https://www.facebook.com/diia.gov.ua"><img class="icon" src="./assets/img/icons/facebook.svg" /></a>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="flex-container">
    <div class="flex-item flex-row flex-header">
      <img class="img-wrapper" src="./assets/img/phone.svg" />
      <h2>Зателефонуйте на гарячу лінію</h2>
    </div>
    <div class="flex-item">
      <div class="contact-flex-container">
        <p class="contacts-text">Працює з 09:00 до 18:00</p>
        <p><a class="link-text" href="tel:+380971628529">+38 097 162 85 29</a></p>
      </div>
    </div>
  </div>
</div>
